<ion-content padding>
  <form [formGroup]="loginForm" (ngSubmit)="loginform()">
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <img src="../../assets/image/logo_la_cantiniere_desk.png">
          </div>
          <ion-card>
            <div padding>
              <div class="sign-in" text-center>
                <p>Vous avez déjà un compte, <br> Connectez vous !</p>
              </div>
              <div>
                <p>E-mail</p>
              </div>
              <ion-card>
                <ion-item>
                  <ion-input class="mouse" name="email" type="email" placeholder="your@email.com"
                    formControlName="email" required>
                  </ion-input>
                </ion-item>
              </ion-card>
              <div>
                <p>Password</p>
              </div>
              <ion-card>
                <ion-item>
                  <ion-input name="password" type="password" placeholder="Password" formControlName="password" required>
                  </ion-input>
                </ion-item>
              </ion-card>
            </div>
            <div text-center>
              <ion-button type="submit" expand="block">Connectez-vous</ion-button>
            </div>
            <div (click)="register()" class="sign-in" text-center>
              <p>Inscrivez-vous !</p>
            </div>
            <div class="forget-password">
              Mot de passe oublié ?
            </div>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>