$primary: #212529;
$secondary: #004D5D;
$orange: #FF9900;
$opac-orange: #FFCC80;

ion-item{
    --background:white;
    --color: $orange;
    
}
ion-button{
    --background: #FF9900;
    --color: #004D5D;
}
img{
    width: 50%;
}