<ion-header>
  <ion-toolbar>
    <ion-title class="toolbar-title">
      Cagnotte: <span>{{userinfo.wallet}}€</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="card-inscription">
    <ion-item>
    <ion-title class="title">Information utilisateur</ion-title>
  </ion-item>
    <ion-item>
    <ion-input placeholder="{{userinfo.name}}"></ion-input>
  </ion-item>
   <ion-item>
  <ion-input placeholder="{{userinfo.firstname}}"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input placeholder="{{userinfo.phone}}"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input placeholder="{{userinfo.email}}"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input placeholder="{{userinfo.sex}}"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label class="date-inscription">Inscription le : {{userinfo.registrationDate}}</ion-label>
  </ion-item>
   <ion-item>
    <ion-button (click)="logout()">logout</ion-button>
  </ion-item>
  </ion-card>

</ion-content>
