<ion-header>
  <ion-toolbar>
    <ion-title>
      Cagnotte : {{userInfo['wallet']}}€
    </ion-title>
  </ion-toolbar>
</ion-header>
<!--Menu Semaine-->
<ion-list class="list">
  <!--  <ion-card>
    <ion-item>
      <ion-icon name="restaurant" slot="start"></ion-icon>
      <ion-label>Menu de la semaine</ion-label>
      <ion-button fill="outline" slot="end">hebdo</ion-button>
    </ion-item>
    <ion-card-content>
      <ion-item>
        <ion-slides pager="true" [options]="slideOpts">
          <ion-slide *ngFor="let slide of slides">
            <ion-card>
              <ion-card-header>
                <ion-card-subtitle>{{slide.label}}</ion-card-subtitle>
                <ion-card-title>{{slide.priceDF}} €</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-item *ngFor="let meal of slide.meals">
                  {{meal.label}}
                  <ion-img src={{meal.image}}></ion-img>
                </ion-item>
              </ion-card-content>
            </ion-card>
          </ion-slide>
        </ion-slides>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-card *ngFor="let card of cardMenus">
        <ion-item>
          <ion-icon name="restaurant" slot="start"></ion-icon>
          <ion-label>{{card.titreMenu}}</ion-label>
        </ion-item>
        <ion-card-content>
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>{{card.titreMenu}}</ion-card-subtitle>
              <ion-card-title>{{card.prixMenu}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-img src={{card.img}}></ion-img>
            </ion-card-content>
          </ion-card>
        </ion-card-content>
      </ion-card>
    </ion-card-content>
  </ion-card>
</ion-list> -->

  <ion-list class="list">
    <ion-list>
      <ion-list-header>
        <div class="listMenu">Menu de la semaine</div>
      </ion-list-header>
      <ion-card>
        <ion-card-content>
          <ion-card *ngFor="let card of cardHebdos">
            <ion-card-header>
              <ion-slides>
                <ion-slide *ngFor="let meal of card.meals">
                  <ion-card-content>
                    <img [src]="getImg(meal.image)" alt="">
                  </ion-card-content>
                </ion-slide>
              </ion-slides>
              <ion-icon name="restaurant" slot="start"></ion-icon>
              <ion-card-subtitle>{{card.label}}</ion-card-subtitle>
              <ion-card-title>{{card.priceDF}} €</ion-card-title>
            </ion-card-header>
            <ion-item *ngFor="let meal of card.meals">
              <ion-content>{{meal.label}}</ion-content>

            </ion-item>
          </ion-card>
        </ion-card-content>
      </ion-card>
    </ion-list>
  </ion-list>