<ion-header>
  <ion-toolbar>
    <ion-title>
      Cagnotte : {{userInfo['wallet']}}€
    </ion-title>
  </ion-toolbar>
</ion-header>
<!--Menu Semaine-->

<ion-list class="list">
  <ion-list>
    <!-- <div ngIf=""></div> -->
    <ion-list-header>
      <div class="listMenu">Menu de la semaine</div>
    </ion-list-header>
    <ion-card>
      <ion-card-content>
        <ion-card *ngFor="let card of cardHebdos">
          <ion-card-header>
            <ion-slides>
              <ion-slide *ngFor="let meal of card.meals">
                <ion-card-content>
                  <img [src]="getImg(meal)" alt="">
                </ion-card-content>
              </ion-slide>
            </ion-slides>
            <ion-icon name="restaurant" slot="start"></ion-icon>
            <ion-card-subtitle>
                <ion-button (click)="order(card)" >Commander - {{card.label}}</ion-button>
            </ion-card-subtitle>
            <ion-card-title>{{card.priceDF}} €</ion-card-title>
          </ion-card-header>
          <ion-item *ngFor="let meal of card.meals">
            <ion-content>{{meal.label}}</ion-content>
          </ion-item>
        </ion-card>
      </ion-card-content>
    </ion-card>
  </ion-list>


  <ion-list>
    <ion-list-header>
      <div class="listMenu">Menu du jour</div>
    </ion-list-header>
    <ion-card>
      <ion-card-content>
        <ion-card *ngFor="let card of cardDay">
          <ion-card-header>
            <ion-slides>
              <ion-slide *ngFor="let meal of card.meals">
                <ion-card-content>
                  <img [src]="getImg(meal)" alt="">
                </ion-card-content>
              </ion-slide>
            </ion-slides>
            <ion-icon name="restaurant" slot="start"></ion-icon>
            <ion-card-subtitle>{{card.label}}</ion-card-subtitle>
            <ion-card-title>{{card.priceDF}} €</ion-card-title>
          </ion-card-header>
          <ion-item *ngFor="let meal of card.meals">
            <ion-content>{{meal.label}}</ion-content>
          </ion-item>
        </ion-card>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-list>