// Spe
.toolbar-title {
    font-weight: 16px;
    color: #004D5D;
  
    span {
      font-weight: 16px;
      color: #FF9900;
    }
  }
  
  .title {
    position: relative;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.75px;
    color: #004D5D;
    text-align: left !important;
  
    &:before {
      content: "";
      display: inline-block;
      position: absolute;
      bottom: -5px;
      left: -5px;
      height: 2px;
      width: 15px;
      background-color: #FF9900;
    }
  }

  
  .card-price {
    font-size: 16px;
    font-weight: 600;
    color: #004D5D;
    margin-top: 20px;
  }

  .card-label {
    font-size: 16px;
    font-weight: 600;
    color: #FF9900;
  }

